node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
.DS_Store
*.log

# Backend
backend/node_modules/
backend/.env
backend/dist/
backend/logs/
*.log

# Databases
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
